{% extends "base.html" %}
{% block content %}
<div class="player-detail p-1" style="font-family: 'Noto Sans', sans-serif;">
    <div class="player border rounded">
        <div class="player-image p-3" style="height:75%;">
            <img src="{{ player.image.url }}" alt="{{ player }}" style="max-width:100%;max-height:100%;display:block;margin:0 auto;">
        </div>
        <div class="player-info p-3" style="height:25%;">
            <p class="text-center"><strong>{{ player }}</strong></p>
        </div>
    </div>
    <div class="player-club border rounded">
        <a href="{{ player.club.get_absolute_url }}" class="club-image p-3" style="height:75%; display: block;">
        <img src="{{ player.club.logo.url }}" alt="{{ player.club }}" style="max-width:100%;max-height:100%;display:block;margin:0 auto;">
        </a>
        <div class="club-name p-3" style="height:25%;">
            <p class="text-center"><strong>{{ player.club }}</strong></p>
        </div>
    </div>
    <div class="player-league border rounded" style="height:100%;">
        <a href="{{ player.club.league.get_absolute_url }}" class="league-image" style="height:70%;display:flex;justify-content:center;align-items:center;">
        <img src="{{ player.club.league.logo.url }}" alt="{{ player.club.league }}" style="max-height:100%;max-width:100%;">
        </a>
        <div class="league-name" style="height:30%;display:flex;justify-content:center;align-items:center;">
            <p class="text-center"><strong>{{ player.club.league }}</strong></p>
        </div>
    </div>
    <div class="player-info border rounded" style="overflow:auto;">
        <h1 class="text-center mt-2">Biography</h1>
        <div class="bio p-3">
            {{ player.profile }}
        </div>
    </div>
</div>
{% endblock content %}
