{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container p-3 mt-2" style="font-family: 'Noto Sans', sans-serif;">
    {% if quote %}
    <form class="p-2" action="" method="POST">
        {% csrf_token %}
        <div class="border rounded p-4 mb-2" style="max-width:70%;margin:0 auto;font-family:'Noto Sans',sans-serif;">
            <div class="quote-body">
                <div class="quote-author" style="display:flex;justify-content:space-between;">
                    <a href="{% url 'author-profile' quote.user.id %}" class="text-decoration-none text-reset"><img src="{{ quote.user.profile.image.url }}" alt="{{ quote.user }}" class="rounded-circle" style="height:30px;width:30px;max-height:100%;max-width:100%;object-fit: cover;"><strong>{{ quote.user.first_name }} {{ quote.user.last_name }}</strong><i class="bi bi-patch-check-fill me-1 text-primary"></i><span style="font-weight:normal;">@{{ quote.user }}</span></a>
                    <span style="font-weight:normal;">{{ quote.date|date:"M d, Y"}} {{ quote.date|time:"H:i" }}</span>
                </div>
                <hr>
                <a href="{% url 'quote-replies' quote.id %}" class="original-quote text-reset text-decoration-none mb-2" style="line-height: 2.0;display: block">
                {{ quote.quote }}
                </a>
            </div>
            <div class="post-body border rounded p-4">
                <div class="" style="display:flex;justify-content:space-between;">
                    <a href="{% url 'author-profile' quote.post.author.id %}" class="text-decoration-none text-reset"><img src="{{ quote.post.author.profile.image.url }}" alt="{{ quote.post.author }}" class="rounded-circle" style="height:30px;width:30px;max-height:100%;max-width:100%;object-fit: cover;"><strong>{{ quote.post.author.first_name }} {{ quote.post.author.last_name }}</strong><i class="bi bi-patch-check-fill me-1 text-primary"></i><span style="font-weight:normal;">@{{ quote.post.author }}</span></a>
                    <span style="font-weight:normal;">{{ quote.post.date|date:"M d, Y"}} {{ quote.post.date|time:"H:i" }}</span>
                </div>
                <hr>
                <div class="original-post" style="line-height: 2.0;">
                    {{ quote.post.post }}
                </div>
            </div>
        </div>
        <div class="form mt-0" style="max-width:70%;margin:0 auto;">
            {{ form|crispy }}
            <input type="submit" class="btn text-white" style="background-color: #5c5cff;" value="Send">
        </div>
    </form>
    {% else %}
    <div class="reply-form">
        <form class="" action="" method="POST">
            {% csrf_token %}
            <div class="original-post border rounded p-4" style="line-height:2.0;max-width:70%;margin:0 auto;">
                <div style="display:flex;justify-content:space-between;">
                    <a href="{% url 'author-profile' post.author.id %}" class="text-reset text-decoration-none"><img src="{{ post.author.profile.image.url }}" alt="{{ reply.comment.author }}" class="rounded-circle" style="height:30px;width:30px;max-height:100%;max-width:100%;object-fit: cover;"><strong>{{ post.author.first_name }} {{ post.author.last_name }}</strong><i class="bi bi-patch-check-fill me-1 text-primary"></i><span style="font-weight:normal;">@{{ post.author }}</span></a>
                    <span style="font-weight:normal;">{{ post.date|date:"M d, Y"}} {{ post.date|time:"H:i" }}</span>
                </div>
                <hr>
                <div class="original-post">
                    {{ post.post }}
                </div>
                <hr>
            </div>
            <div class="form mt-2" style="max-width:70%;margin:0 auto;">
                {{ form|crispy }}
                <input type="submit" class="btn text-white" style="background-color: #5c5cff;" value="Send">
            </div>
        </form>
    </div>
    {% endif %}
</div>
{% endblock content %}
