{% extends "base.html" %}

{% block content %}
<div class="container mt-5 mb-5" style="font-family: 'Noto Sans', sans-serif;">
	<h2 class="text-center text-uppercase mb-4" style="font-variant: normal;color: gray;font-weight: 500;">{{ club }} FC </h2>
  <div class="row">
    <div class="col border rounded">
      <div class="row mt-4" style="max-height:300px;">
        <div class="col" style="max-height:inherit;">
          <img class="img-fluid" src="{{club.logo.url}}" alt="{{club.name}}" style="max-height:inherit;display:block;margin:0 auto;">
        </div>
      </div>
      <div class="row mt-5" style="max-height:300px;">
        <div class="col" style="text-align:center;">
          <b>{{club.name}}</b>
        </div>
      </div>
      <hr>
      <div class="row mt-5" style="max-height:400px;">
        <div class="col" style="max-height:inherit;position:relative;height:400px;">
          <a href="{% url 'league-details' club.league.id %}"><img class="img-fluid" src="{{club.league.logo.url}}" alt="{{club.league.name}}" style="max-height:inherit;display:block;margin:0 auto;position:absolute;top:50%;left:50%;transform: translate(-50%, -50%);"></a>
        </div>
      </div>
    </div>
    <div class="col" style="line-height: 2.0;">
      {{club.description}}
    </div>
  </div>
</div>
{% endblock content %}
