* {
	box-sizing: border-box;
}

html {
	width: 100%;
}

body {
	width: 100%;
	font-family: 'Noto Sans', sans-serif;
}

.registration {
	border-top: 2px solid white;
	background-image: url('skysports-manchester-united.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.registerform {
	width: 70%;
	margin-left: 15%
}

.registerform legend {
	font-family: verdana;
}

.registerform label {
	font-family: "Trebuchet MS", sans-serif;
	font-weight: 400;
	color: #fff;
}

.registerform input[type="text"],
.registerform input[type="password"],
.registerform input[type="email"] {
	border: 2px solid grey;
	padding: 7px;
}

.login {
	height: 100%;
	margin-top: 2px;
	font-family: "Trebuchet MS", sans-serif;
}

.login .login-button {
	width: 75%;
	margin: 0 auto;
}

.login .login-button > input {
	width: 100%;
}

.login > p {
	text-align: center;
}

.logout {
	height: inherit;
	font-family: 'Vidaloka', serif;
}

input[type="text"].profile {
	outline: 1px solid lightgreen;
}

input[type="file"] {
	outline: 1px solid lightgreen;
}

header {
	font-family: 'Staatliches', cursive;
	padding: 1.7%;
	background: black;
	color: white;
	border-bottom: 2px solid white;
}

.navigation-container {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: grey;
}

.navigation-link {
	float: left;
	width: 14.285%;
}

.navigation-link a {
	display: block;
	padding: 7%;
	text-align: center;
	text-decoration: none;
	color: white;
	font-family: 'Noto Sans', sans-serif;
}

.navigation-link #dropbox > a {
	text-align: left;
}

.navigation-link #dropbox a > i:not(.bi-bell) {
	margin-left: 50%;
}

.navigation-link #dropbox .bi-bell {
	margin-left: 23%;
}


#brand {
	background: black;
	color: white;
}

#dropbox {
	position: absolute;
	width: inherit;
	background: grey;
	display: none;
}

#dropdown:hover #dropbox {
	display: block;
}

.navigation-link a:hover:not(.brand) {
	background-color: #333333;
}

.notification {
	margin-bottom: 1%;
}

.notification:last-child {
	margin-bottom: 0;
}

.notification:hover {
	background-color: #EDE4E3;
}

.paginate > a {
	width: 100px;
	height: 40px;
}

/* Home Page Layout */
.home {
	display: grid;
	grid-column-gap: 3px;
	grid-template-columns: 40% 60%;
	font-family: 'Noto Sans', sans-serif;
	width: 100%;
	margin: 0 auto;
}

.stats-table {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 70px 240px auto auto;
}

.scores {
	display: grid;
	grid-template-columns: 25% 10% 30% 10% 25%;
	grid-template-rows: 240px;
}

.goal-scorers {
	display: grid;
	grid-template-columns: 25% 50% 25%;
	justify-items: center;
}

.buttons i {
	cursor: pointer;
}

/* This css style is used by the PostModelForm for edits */
.post-model-form {
	line-height: 2.0;
	width: 100%;
	border: 1px solid silver;
	border-radius: 3px;
	padding: 1%;
}

table {
	height: 100%;
	max-height: 100%;
	border: 5px solid red;
	border-radius: 70px;
}

th,
td {
	width: 33.33%;
	padding: 10%;
}

/* leagues section */
.flexbox-container {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center;
}

.flexbox-items {
	max-height: 200px;
}

/* league-details section*/
.parent {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}

.parent > .logo {
	width: 50%;
	display: flex;
	justify-content: center;
}

.parent > .description {
	width: 50%;
	padding: 1%;
	outline: 1px solid lightgray;
	border-radius: 5px;
}

/* Player List Section */
.club-list {
	display: grid;
	grid-template-columns: 100%;
	grid-auto-rows: auto auto;
	grid-row-gap: 5px;
}

.starting-11 {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-auto-rows: 300px;
	grid-gap: 10px;
}

.starting-11 > a:hover {
	box-shadow: 1px 1px 3px 3px silver;
}

/* Player Detail Section */
.player-detail {
	height: 750px;
	display: grid;
	grid-template-columns: 35% 64%;
	grid-template-rows: 45% 54%;
	grid-gap: 1%;
}

/* Profile Section */
.profile-container {
	height: 930px;
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-template-rows: auto auto;
	grid-template-areas:
		"profile-image profile-info"
		"profile-form profile-form";
	grid-column-gap: 5px;
	grid-row-gap: 5px;
}

.profile-image {
	grid-area: profile-image;
}

.profile-info {
	grid-area: profile-info;
}

.profile-form {
	grid-area: profile-form;
}

.user-profile {
	display: grid;
	height: 250px;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: 250px;
	grid-column-gap: 5px;
}

.user-tabs {
	background-color: white;
}

.user-tabs > button {
	border: none;
	padding: 1.25%;
	width: 25%;
}

.usertabcontent {
	display: none;
	animation: fadeInContent 1.5s;
}

@keyframes fadeInContent {
	from {opacity: 0;}
	to {opacity: 1;}
}

.activetab {
	background-color: darkgray;
}

/* footer section */
footer {
	font-family: 'Staatliches', cursive;
	background-color: black;
	color: white;
}
